.hp {
	/*--------------------------------------------------------------
	Forms
	--------------------------------------------------------------*/
	&-field {
		&--location {
			input[type=text] {
				padding-right: 30px;
			}

			a {
				margin-left: -24px;
				vertical-align: middle;
				color: #888;
				position: relative;
				z-index: 3;

				&:focus {
					box-shadow: none;
					outline: none;
				}

				i {
					font-size: 14px;
				}
			}
		}
	}
}
/*--------------------------------------------------------------
Mapbox
--------------------------------------------------------------*/
.mapboxgl {
	&-ctrl-geocoder {
		width: auto !important;
		max-width: none !important;
		box-shadow: none !important;
		min-width: auto !important;
		z-index: 2 !important;
		display: inline-block;

		.suggestions-wrapper {
			li {
				margin-bottom: 0 !important;
			}

			a {
				margin-left: 0 !important;
				background-color: inherit !important;
			}
		}

		&--icon,
		&--pin-right {
			display: none !important;
		}
	}
}
